.class-class {
  border: 1px solid black;
  border-radius: 3px;
  overflow: auto;
  display: inline-block;
  width: auto;
  max-width: 30%;
  margin: 5px;
  float: left;
}

.class-name {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  width: auto;
}

.class-function {
  border: 3px solid orange;
  border-radius: 4px;
  margin: 3px;
  margin-bottom: 20px;
  padding: 5px;
}

.function-parameters {
  padding: 3px;
  border: 2px solid black;
  color: brown;
}

.function-code {
  padding: 3px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.function-return-parameters {
  padding: 3px;
  border: 2px solid black;
  color: orange;
}

.iterable-iterable-num-hint {
  color: #51c6ed;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}


.iterable-num-hint {
  color: #51c6ed;
  font-weight: bold;
  text-shadow: 1px 1px 1px #3f64a1;
}

.num-hint {
  color: #51c6ed;
  font-weight: normal;
}

.string-hint {
  color: #28b549;
}

.bool-hint {
  font-weight: bold;
  color: orange;
}

.function-called-parameters {
  color: brown;
}

.builtin {
  color: purple;
  font-weight: normal;
}
